/* Thin custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(0,0,0,0.3) transparent; /* Firefox */
}
